.title {
	font-size: 24px;
	font-weight: 700;
	margin-bottom: 20px;
}

.activeDialogs {
	height: 100%;
	display: flex;
	flex-direction: column;
}

.dialogsCards {
	overflow: auto;
	height: 100%;
}

.ifEmpty {
	padding-top: 30px;
	font-size: 20px;
}
