.header {
  display: flex;
  justify-content: space-between;
  font-size: 24px;
  .title {
    font-weight: 700;
    margin-bottom: 20px;
  }
}

.filterInput{
  margin-top: 15px;
}

.dialogsCards{
  overflow-y: auto;
  height: 400px;
}