.header {
	display: flex;
	justify-content: space-between;
	font-size: 24px;
	flex-wrap: wrap;

	.title {
		font-weight: 700;
		margin-bottom: 20px;
	}
}

.newDialogs {
	height: 100%;
	display: flex;
	flex-direction: column;
}

.dialogsCards {
	overflow: auto;
	height: 100%;
}

.filterInput {
	margin-top: 15px;
}
