.modal {
  .modalHeader {
    display: flex;
    justify-content: space-between;
    font-size: 28px;

    .xmark {
      cursor: pointer;
    }
  }

  .avatar {
    .avatarImg {
      display: inline-block;
      height: 100px;
      width: 100px;

      .userIcon {
        height: 70px;
        margin: 10px 0;
      }

      img {
        height: 80px;
        margin: 10px 0;
      }
    }
  }

  .text {
    margin: 15px 25px 15px 0;
    font-size: 16px;
  }
}